<div class="container">
  <div class="card">
    <div class="card-body">
      <blockquote class="blockquote mb-0">

        <div class="card text-white bg-success mb-3" *ngIf="reservas.length > 0">
          <h2>Reservas realizadas</h2>
        </div>
        <div class="card text-white bg-danger mb-3" *ngIf="reservas.length == 0 && !tipoUsuario">
          <h2>No hay reservas</h2>
        </div>
        <div class="card text-white bg-danger mb-3" *ngIf="reservas.length == 0 && tipoUsuario">
          <h2>No hay reservas Proximas</h2>
        </div>

        <div *ngIf="reservas.length > 0 ">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">nombre</th>
                <th scope="col">Fecha de inicial</th>
                <th scope="col">Fecha de final</th>
                <th scope="col">Lugar</th>
                <th scope="col">Motivo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reserva of reservas | filtroReserva : lavadora" data-toggle="modal"
                data-target="#opciones" style="cursor: pointer;" (click)="showPopupUpdate(reserva)">
                <th>{{reserva.usuario.nombre}}</th>
                <td>{{reserva.fechaInicial | date:'MM/dd - HH:mm':'-0500'}}</td>
                <td>{{reserva.fechaFinal | date:'MM/dd - HH:mm':'-0500'}}</td>
                <td>{{reserva.espacio}}</td>
                <td>{{reserva.actividad}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </blockquote>
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAgregarReserva"
      (click)="reservaValida()"> Registrar nueva reserva</button>
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="modalAgregarReserva">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Crear Reserva {{user.nombre}}</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-header">

          <div class="form-row padreCentrarContenido">

            <div class="form-group col-md-6">
              <label for="fechaSalida">Fecha de inicio</label>
              <input type="datetime-local" [(ngModel)]="reservacionUsuarioLogueado.fechaInicial" class="form-control"
                placeholder="Fecha inicial de la reserva" required>
            </div>

            <div class="form-group col-md-6">
              <label for="FechaLlegada">Fecha de final</label>
              <input type="datetime-local" [(ngModel)]="reservacionUsuarioLogueado.fechaFinal" class="form-control"
                placeholder="Fecha final de la reserva" required>
            </div>

            <div class="form-group col-md-6" *ngIf="!rutaLavadora">
              <label for="Motivo">Motivo o razón</label>
              <select class="form-control custom-select" [(ngModel)]="reservacionUsuarioLogueado.actividad">
                <option *ngFor="let m of motivos" [ngValue]="m.motivo">{{m.motivo}}</option>
              </select>
            </div>

            <div class="form-group col-md-6" *ngIf="rutaLavadora">
              <label for="Motivo">Motivo o razón</label>
              <select class="form-control custom-select" [(ngModel)]="reservacionUsuarioLogueado.actividad">
                <option [ngValue]="reservacionUsuarioLogueado.actividad">{{reservacionUsuarioLogueado.actividad}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6" *ngIf="!rutaLavadora">
              <label for="lugar">Lugar</label>
              <select class="form-control custom-select" [(ngModel)]="reservacionUsuarioLogueado.espacio">
                <option *ngFor="let l of lugares" [ngValue]="l.lugar">{{l.lugar}}</option>
              </select>
            </div>

            <div class="form-group col-md-6" *ngIf="rutaLavadora">
              <label for="lugar">Lugar</label>
              <select class="form-control custom-select" [(ngModel)]="reservacionUsuarioLogueado.espacio">
                <option [ngValue]="reservacionUsuarioLogueado.espacio">{{reservacionUsuarioLogueado.espacio}}</option>
              </select>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer" *ngIf="reservaValida() disabled" style="justify-content: center;">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="registrarReserva()">
              Reservar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="opciones" *ngIf="mismoUsuario">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <div class="row">
            <div class="col-12">
              <h4 class="modal-title">¿ Que deseas hacer ?</h4>
            </div>
            <div class="col-12">
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Fecha de inicial</th>
                    <th scope="col">Fecha de final</th>
                    <th scope="col">Lugar</th>
                  </tr>
                </thead>
                <tr>
                  <td>{{reservaUpdate.fechaInicial | date:'MM/dd - HH:mm':'-0500'}}</td>
                  <td>{{reservaUpdate.fechaFinal | date:'MM/dd - HH:mm':'-0500'}}</td>
                  <td>{{reservaUpdate.espacio}}</td>
                </tr>
              </table>
            </div>
            <div class="col-12 padreCentrarContenido">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editarReserva"
                data-dismiss="modal">Editar</button>
              <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#eliminarReserva"
                data-dismiss="modal">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editarReserva" *ngIf="mismoUsuario">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Solo se pueden editar las fechas</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-header">
          <div class="form-row padreCentrarContenido">

            <div class="modal-header">
              <div class="form-group col-md-12">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Fecha de inicial</th>
                      <th scope="col">Fecha de final</th>
                    </tr>
                  </thead>
                  <tr class="thead-dark">
                    <td>{{reservaUpdate.fechaInicial | date:'MM/dd - HH:mm':'-0500'}}</td>
                    <td>{{reservaUpdate.fechaFinal | date:'MM/dd - HH:mm':'-0500'}}</td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="fechaInicial">Fecha inicial Actual: </label>
              <input type="datetime-local" [(ngModel)]="nuevaReserva.fechaInicial" class="form-control" required>
            </div>

            <div class="form-group col-md-6">
              <label for="fechaSalida">Fecha Final Actual: </label>
              <input type="datetime-local" [(ngModel)]="nuevaReserva.fechaFinal" class="form-control" required>
            </div>

            <div class="form-group col-md-6">
              <label for="Motivo">Motivo o razón</label>
              <input type="text" [(ngModel)]="nuevaReserva.actividad" class="form-control" readonly>
            </div>

            <div class="form-group col-md-6">
              <label for="lugar">Lugar</label>
              <input type="text" [(ngModel)]="nuevaReserva.espacio" class="form-control" readonly>
            </div>

            <div class="form-group col-md-6 padreCentrarContenido" *ngIf="reservaValidaActualizacion()">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="editarReserva()">
                Editar Reserva</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- The Modal -->
    <div class="modal fade" id="eliminarReserva" *ngIf="mismoUsuario">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center"> ¿ Desea Borrar esta reserva ? {{reservaUpdate.usuario.nombre}}
              {{reservaUpdate.usuario.apellido}}</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
  
          <!-- Modal body -->
          <div class="form-group col-md-12">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Fecha de inicial</th>
                  <th scope="col">Fecha de final</th>
                  <th scope="col">Lugar</th>
                  <th scope="col">Motivo</th>
                </tr>
              </thead>
              <tr class="thead-dark">
                <td>{{reservaUpdate.fechaInicial | date:'MM/dd - HH:mm':'-0500'}}</td>
                <td>{{reservaUpdate.fechaFinal | date:'MM/dd - HH:mm':'-0500'}}</td>
                <td>{{reservaUpdate.espacio}}</td>
                <td>{{reservaUpdate.actividad}}</td>
              </tr>
            </table>
          </div>
  
          <!-- Modal footer -->
          <div class="modal-footer" style="justify-content: center;">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="eliminarReserva()">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

</div>