<div class="container">
  <div class="card">
    <div class="card-body">
      <blockquote class="blockquote mb-0">

        <div class="card text-white bg-success mb-3" *ngIf="salidas.length > 0">
          <h2>Planilla de salida</h2>
        </div>
        <div class="card text-white bg-danger mb-3" *ngIf="salidas.length == 0">
          <h2>no hay información, acerca de las salidas</h2>
        </div>

        <div *ngIf="salidas.length > 0 ">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Identificacion</th>
                <th scope="col">Fecha de salida</th>
                <th scope="col">Fecha de llegada</th>
                <th scope="col">Lugar</th>
                <th scope="col">Motivo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salida of salidas | filtroSalida: tipoUsuario: user">
                <th>{{salida.estudianteSalida.identificacion}}</th>
                <td>{{salida.fechaSalida | date:'MM/dd - HH:mm':'-0500'}}</td>
                <td>{{salida.fechaLlegada | date:'MM/dd - HH:mm':'-0500'}}</td>
                <td>{{salida.lugar}}</td>
                <td>{{salida.razon}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </blockquote>
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAgregarSalida"
      *ngIf="tipoUsuario">Registrar nueva salida</button>
    <!-- The Modal -->
    <div class="modal fade" id="modalAgregarSalida">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Ingrese los todos los datos para crear una nueva salida {{user.nombre}}</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-header">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fechaSalida">Fecha de salida</label>
                <input type="datetime-local" [(ngModel)]="salidaUsuarioLogueado.fechaSalida" class="form-control"
                  placeholder="Fecha de salida" required>
              </div>
              <div class="form-group col-md-6">
                <label for="FechaLlegada">Fecha de llegada</label>
                <input type="datetime-local" [(ngModel)]="salidaUsuarioLogueado.fechaLlegada" class="form-control"
                  placeholder="Fecha de llegada" required>
              </div>

              <div class="form-group col-md-6">
                <label for="Motivo">Motivo o razón</label>
                <select class="form-control custom-select" [(ngModel)]="salidaUsuarioLogueado.razon">
                    <option *ngFor="let m of motivos" [ngValue]="m.motivo">{{m.motivo}}</option>
                </select>
            </div>
              <div class="form-group col-md-6">
                <label for="lugar">Lugar</label>
                <input type="text" [(ngModel)]="salidaUsuarioLogueado.lugar" class="form-control"
                  placeholder="Ingrese lugar" required>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer" *ngIf="salidaValida(salidaUsuarioLogueado) disabled"
            style="justify-content: center;">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="registrarSalida()">Registrar
              salida</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>