<div class="container-fluido">
  <nav class="navbar navbar-expand-lg navbar-dark  bg-secondary text-uppercase fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >
              <img src="../../../assets/img/logouco.png" width="50" height="50" class="d-inline-block align-top" alt="Logo UCO">
              HJU Santa Maria
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapse_target">
              <ul class="navbar-nav ml-auto" *ngIf="messageBoolean;">
                  <li class="nav-item mx-0 mx-lg-auto"><a class="nav-link py-0 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/menu']" routerLinkActive="router-link-active">Menu</a></li>
                  <li class="nav-item mx-0 mx-lg-auto"><a class="nav-link py-0 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/perfil']" routerLinkActive="router-link-active">Perfil</a></li>
                  <li class="nav-item mx-0 mx-lg-auto"><a class="nav-link py-0 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/login']" (click)="logout()" routerLinkActive="router-link-active">Logout</a></li>
              </ul>

              <ul class="navbar-nav ml-auto" *ngIf="!messageBoolean;">
                <li class="nav-item"><a class="nav-link py-0 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></li>
                <li class="nav-item"><a class="nav-link py-0 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/login']" (click)="logout()" routerLinkActive="router-link-active">Logout</a></li>
              </ul>
          </div>
      </div>
  </nav>
</div>

