<!--https://www.google.com/url?sa=i&url=https%3A%2F%2Fonlinezebra.com%2Fblog%2F404-not-found-solucion%2F&psig=AOvVaw3N_nM7AWMFxfRL040TwXpB&ust=1587424456451000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjhiZHP9egCFQAAAAAdAAAAABAD-->
<div class="container text-center">
  <img  class="img-fluid"  src="../../assets/img/error-404-not-found.jpg" alt="" sizes="100%" srcset="">
  <button type="button" class="btn btn-primary" [routerLink]="['/']" routerLinkActive="router-link-active" >
      Volver al Inicio
  </button>
</div>
