<div class="container">
  <form class="needs-validation" novalidate [formGroup]="myFormGroup">
      <div class="form-row">
          <div class="col-md-6 mb-3">
              <label>Contraseña Actual</label>
              <input type="password" class="form-control" placeholder="Contraseña Actual" formControlName="viejaContrasena"
                  required minlength="6">
              <div class="invalid-feedback">
                  Por favor ingrese la contraseña Actual.
              </div>
          </div>
          <div class="col-md-6 mb-3">
              <label>Nueva Contraseña</label>
              <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="nuevaContrasena"
                  required minlength="6">
              <div class="invalid-feedback">
                  Por favor ingrese una nueva contraseña de más de 6 caracteres.
              </div>
          </div>
      </div>
      <div class="form-row">
          <div class="col-md-6 mb-3">
              <label>Repetir Nueva Contraseña</label>
              <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="repetirContrasena"
                  required minlength="6">
              <div class="invalid-feedback">
                  Por favor repita la nueva contraseña de más de 6 caracteres.
              </div>
          </div>
          <div class="col-md-6 mb-3">
              <div class="form-group">
                  <div>
                      <button style="margin: 10px" class="btn btn-primary" type="submit"
                          [disabled]="myFormGroup.invalid" (click)="updatePassword()">Actualizar</button>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
