<br>
<div class="container" id="divcontainer">
  <form method="POST" class="needs-validation" novalidate [formGroup]="myFormGroup">
    <h2>Login</h2>
    <div class="form-group">
      <label for="identificacion">Username:</label>
      <input type="number" class="form-control" formControlName="identificacion" required>
    </div>
    <div class="form-group">
      <label for="contrasena">Password:</label>
      <div class="input-group">
        <input [type]="passwordType" formControlName="contrasena" class="form-control">
        <div class="input-group-prepend">
          <div class="input-group-text text-primary" (click)="ocultarContrasena()" type="button">
            <div *ngIf="hiddenPassword"><i class="fa fa-eye"></i></div>
            <div *ngIf="!hiddenPassword"><i class="fa fa-eye-slash"></i></div>
          </div>
        </div>
      </div>
      <small class="text-muted mx-sm-3">la longitud debe ser más de 6 caracteres.</small>
    </div>
    <div class="form-group" id="Btn2">
      <button class="btn-outline-primary rounded-pill" type="submit" [disabled]="myFormGroup.invalid"
        (click)="login()">Ingresar</button>
    </div>
  </form>
</div>
<br>