<div class="container" id="divcontainer">
  <form method="POST" class="needs-validation" novalidate [formGroup]="myFormGroup">
    <h2>Login</h2>
    <div class="form-group">
      <label for="identificacion">Username:</label>
      <input type="number" class="form-control mx-sm-3" formControlName="identificacion" required>
    </div>
    <div class="form-group">
      <label for="contrasena">Password:</label>
      <input type="password" formControlName="contrasena" class="form-control mx-sm-3"
        aria-describedby="passwordHelpInline" required>
      <small class="text-muted mx-sm-3">la longitud debe ser más de 6 caracteres.</small>
    </div>
    <div class="form-group" id="Btn2">
      <button class="btn-outline-primary rounded-pill" type="submit" [disabled]="myFormGroup.invalid"
        (click)="login()">Ingresar</button>
    </div>
    <!--<div class="form-group" id="Btn">
      <a type="button">Has olvidado la contraseña?</a>
    </div>-->
  </form>
</div>