<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="col-md-4" *ngIf="!tipoEstudiante">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/registrousuario']" type="button">
            <img class="card-img-top" src="assets/img/menu/agregar_usuario.png" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Agregar Usuario
              </h5>
              <p class="card-text">
                Agregar nuevos Usuarios, ya sean Administradores o estudiantes.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="!tipoEstudiante">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/listarusuarios']" type="button">
            <img class="card-img-top" src="assets/img/menu/actualizar_usuario.png" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Gestionar Usuarios
              </h5>
              <p class="card-text">
                Actualización o Borrado de cualquier Usuario registrado.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/mostrarplanilla']" type="button">
            <img class="card-img-top" src="assets/img/menu/Salir.jpg" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Planilla De Salida
              </h5>
              <p class="card-text" *ngIf="!tipoEstudiante">
                Registro de todas las salidas de los estudiantes
              </p>
              <p class="card-text" *ngIf="tipoEstudiante">
                Ingreso de Salidas
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/lavado_loza']" type="button">
            <img class="card-img-top" src="assets/img/menu/lavaplatos.png" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Lavado de loza
              </h5>
              <p class="card-text" *ngIf="!tipoEstudiante">
                Creación, Edición y borrado de los horarios de Loza
              </p>
              <p class="card-text" *ngIf="tipoEstudiante">
                Horarios de Loza asignados a cada Estudiante
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/reservas_lavadora']" type="button">
            <img class="card-img-top" src="assets/img/menu/Lavadora.jpg" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Uso de la lavadora
              </h5>
              <p class="card-text" *ngIf="!tipoEstudiante">
                Consulta del historico de reservas y creación de reservas para el uso de la lavadora
              </p>
              <p class="card-text" *ngIf="tipoEstudiante">
                Consulta de reservas proximas y creación de reservas para el uso de la lavadora
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/espacios']" type="button">
            <img class="card-img-top" src="assets/img/menu/espacios.jpg" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Gestionar salas
              </h5>
              <p class="card-text" *ngIf="!tipoEstudiante">
                Consulta del historico de reservas y creación de reservas para el uso de los espacios del hogar
              </p>
              <p class="card-text" *ngIf="tipoEstudiante">
                Consulta de reservas proximas y creación de reservas para el uso de los espacios del hogar
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/labor']" type="button">
            <img class="card-img-top" src="assets/img/menu/labores.png" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Gestionar labores
              </h5>
              <p class="card-text" *ngIf="!tipoEstudiante">
                Creación, Edición y Borrado de las labores del hogar
              </p>
              <p class="card-text" *ngIf="tipoEstudiante">
                Consulta de las labores asignadas como estudiante
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="tipoEstudiante">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/mostrarmaterias']" type="button">
            <img class="card-img-top" src="assets/img/menu/materias.jpg" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Gestionar materias
              </h5>
              <p class="card-text">
                Consulta de mis materias
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="!tipoEstudiante">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/listarfirmas']" type="button">
            <img class="card-img-top" src="assets/img/menu/firma.png" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Consulta de Firmas
              </h5>
              <p class="card-text">
                Consulta de todas las firmas del hogar
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow p-3 mb-5 bg-white rounded" [routerLink]="['/inasistencias']" type="button">
            <img class="card-img-top" src="assets/img/menu/inasistencias.png" />
            <div class="card-block">
              <h5 class="card-title text-center">
                Gestionar Inasistencias
              </h5>
              <p class="card-text" *ngIf="!tipoEstudiante">
                Consulta de inasistencias
              </p>
              <p class="card-text" *ngIf="tipoEstudiante">
                Creación de inasistencias
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>