<br>
<div class="section text-center dark">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <h4 class="text-uppercase mb-4">Realizadores</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/andresGarcia97"
                    target="_blank"> <i class="fab fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/erazo2498" target="_blank"> <i
                        class="fab fa-github"></i></a>
            </div>

            <div class="col-lg-3">
                <h4 class="text-uppercase mb-4">Tecnologias Backend</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.java.com/es/" target="_blank">
                    <i class="fab fa-java"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://spring.io/" target="_blank">
                    <i class="fas fa-leaf"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.postgresql.org/" target="_blank">
                    <i class="fas fa-database"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://git-scm.com/" target="_blank">
                    <i class="fab fa-git-alt"></i></a>
            </div>

            <div class="col-lg-3">
                <h4 class="text-uppercase mb-4">Tecnologias Frontened</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://angular.io/" target="_blank">
                    <i class="fab fa-angular"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://getbootstrap.com/" target="_blank">
                    <i class="fab fa-bootstrap"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://fontawesome.com/" target="_blank">
                    <i class="fab fa-font-awesome-alt"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://sweetalert.js.org/" target="_blank">
                    <i class="far fa-bell"></i></a>
            </div>

            <div class="col-lg-3">
                <h4 class="text-uppercase mb-4">Plantilla Usada</h4>
                <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
                    <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div >
<br>